PORT=4000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=finanzas_personales
DB_USER=postgres
DB_PASSWORD=admin

JWT_SECRET=tu_clave_secreta_aqui
JWT_EXPIRES_IN=4h

GOOGLE_CLIENT_ID=54233591416-tl9qusi7f4vq8co8evl3g8dpvti5u0em.apps.googleusercontent.com

CORS_ORIGIN=http://localhost:4200

