PORT=4000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=finanzas_personales
DB_USER=postgres
DB_PASSWORD=admin

JWT_SECRET=Koda2021@
JWT_EXPIRES_IN=4h

GOOGLE_CLIENT_ID=TU_CLIENT_ID.apps.googleusercontent.com

CORS_ORIGIN=http://localhost:4200